robots.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="jcburnside.github.io" xmlns="https://www.w3schools.com" elementFormDefault="qualified">
	<xs:element name="robots">
		<xs:complexType> 
			<xs:element name="robot">
				<xs:complexType>
					<xs:sequence>
						<xs:simpleType type="xs:string" name="name"/>
						<xs:simpleType type="xs:string" name="description"/>
						<xs:simpleType type="xs:string" name="imgPath"/>
						<xs:simpleType type="xs:decimal" name="price"/>
						<xs:simpleType type="xs:string" name="tags"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:complexType>
	</xs:element>
</xs:schema>